@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 0px; /* Height of the horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
